

::-webkit-scrollbar {
  /* background-color: transparent;
  width: 12px; */
  display: none;

}
::-webkit-scrollbar-thumb{
  /* background-color: rgb(165, 165, 165) ;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px; */
}

.App {
  display: flex;
  overflow-x: hidden;
  
}

.sidebar {

  position: absolute;
  border: 1px solid black;
  position: sticky;
  overflow-y: scroll;
}
.main {
  padding-left: 30px;
  padding-right: 50px;
  padding-bottom: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  
}
.nav{
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.search__container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 3px 6px;
  width: 300px;
  height: 50px;
  margin: 5px 0;
  display: flex;
  justify-content: space-around;
  border-radius: 100px;
}

.search__container input {
  border: none;
  outline: none;
}

.search__container button {
  background-color: white;
  border: none;
  color: none;
  cursor: pointer;
}

@media only screen and (max-width:600px) {
  .App{
    display: flex;
    flex-direction: column-reverse;
  }

}
@media only screen and (min-width:600px) {
  .sidebar{
    width: 250px;
    min-width: 250px;
    height: 100vh;
  }

}


