::-webkit-scrollbar {
  display: none;
}

.App {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background-color: #242424;
  color: #cfcfcf;
  /* overflow-y: hidden; */
}
a {
  text-decoration: none;
}

li,
a {
  color: #afafaf;
}

button{
  border: none;
  background-color: inherit;
}

.next_btn button,.prev_btn button{
  color: white;
  font-size: 1.25rem;
  border: 1px solid white;
  padding: 0.75em 1.25en ;
}

nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.75rem;
  padding: 0.75em 1.25em;
  width: 100%;
  height: 3em;
}

.main {
  margin: 0 0.75em;
  /* border: 1px solid black; */
  overflow-y: scroll;
  width: 100%;
}

.sidebar {
  border: none;
  padding-bottom: 200px;
  overflow-y: hidden;
  max-width: 250px;
  min-width: 200px;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.landinImageContainer {
  width: 100%;
  height: 370px;
  margin: 0 auto;
}

.landinImageContainer img {
  height: 100%;
  border-radius: 3rem;
  width: 100%;
  object-fit: cover;
}

.home__icon,
.bars__icon {
  font-size: 1.25rem;
}

.bars__icon {
  display: none;
}

.home__icon {
  margin-left: 0.8rem;
}

.search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.5em;
  margin-left: 0.5em;
  height: 2.75em;
  padding: 0 0.75em;
  border-radius: 2rem;
  background-color: white;
  border: 1px solid black;
}

.search__container input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}

.search__container button {
  background-color: transparent;
  border: none;
  color: none;
  cursor: pointer;
}

.anime__info--container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.anime__info--container img {
  margin-right: 0.8rem;
}

.anime__wrapper--container {
  display: flex;
  flex-direction: column;
  margin-bottom: -100px;
  justify-content: space-between;
}
.anime__wrapper--container--genre {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -100px;
  justify-content: space-evenly;
}

.anime__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  margin-right: 0.5em;
}

.anime__image {
  border-radius: 1em;
  min-width: 14rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.pagination {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}

.anime__container--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.anime__container {
  margin: 14px 16px;
  position: relative;
  border-radius: 20px;
  padding-bottom: 4px;
  box-shadow: 0 10px 80px rgb(0, 0, 0, 0.45);
  transition: all 300ms ease;
  overflow: hidden;
}

.anime__container:hover {
  opacity: 1;
  transform: translateY(5%);
}

.anime__container:hover .anime__title {
  opacity: 1;
  transform: translateY(-50%);
}

.anime__container:hover .img__bg {
  opacity: 0.5;
}

.img__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #242424;
  opacity: 0;
  border-radius: 18px;
  transition: opacity 300ms, transform 450ms ease;
}

.anime__container:hover .anime__image {
  transform: scale(1.07);
  filter: blur(2px);
}

.anime__title {
  position: absolute;
  top: 20%;
  left: 0.25em;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: rgb(255, 255, 255);
  max-width: 550px;
  font-size: 1.25rem;
  font-weight: 700;
}

.anime__image {
  /* border: 1px solid black;
  height: 100%;
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
  margin-right: 1.25em; */
  margin-bottom: 0;
}

.mainBody {
  margin: 2em 0;
  /* border: 1px solid black; */
}

.favs_info {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}
.remove__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.remove__icon {
  font-size: 16px;
}

.Description__synopsis {
  max-height: 175px;
  width: 90%;
  overflow-y: scroll;
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

.Description__genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Description__genres p {
  border: 1px solid black;
  padding: 0.2em 0.4em;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.8rem;
}

.streaming {
  display: flex;
  justify-content: left;
  font-size: 1.45rem;
}
.streaming div {
  margin-left: 0.5em;
  transition: all 300ms ease;
}
.streaming div:hover {
  font-weight: 700;
}

.add__btn {
  cursor: pointer;
  font-size: 2rem;
}
.anime__description {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .bars__icon {
    display: block;
  }
  .anime__info--container {
    flex-direction: column;
  }
}
@media screen and (min-width: 700px) {
  .more_info p strong {
    margin-left: 1rem;
  }
  .Description__genres {
    max-width: 350px;
  }
}

@media screen and (max-width: 550px) {
  .streaming {
    display: contents;
  }
}

@media screen and (min-width: 480px) {
  .anime__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 7rem;
  }
  .anime__image {
    max-height: 300px;
  }
  .Description__genres {
    justify-content: left;
  }
}
@media screen and (max-width: 480px) {
  .anime__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .anime__image {
    height: 400px;
  }
  nav {
    justify-content: center;
  }
  .more_info p {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  .anime__container--wrapper {
    justify-content: space-evenly;
  }
}
