.anime__container{
    margin: 14px 16px;
    border: 1px solid black;
    padding: 1px 1px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 80px rgb(0, 0, 0, 0.45);
    background-color: #312d36;
    transition: all 300ms ease;
}


.anime__container:hover{
    opacity: 1;
  transform: translateY(5%);
}

.anime__container:hover .anime__title{
    visibility: visible;
    transform: translateY(5%);
}



.anime__image{
    border-radius: 16px;
    /* object-fit: contain; */
    height: 300px;
    width: 200px;
}

.anime__container--wrapper{
    display: flex;
}

.anime__title{
    position: absolute;
    visibility: hidden;
    color: rgb(231, 231, 231);
    transition: all 300ms ease;
}

