.anime__container{
    margin: 8px 16px;
    justify-content: space-around;
    border: 1px solid black;
    padding: 6px 8px;
}

.anime__image{
    border-radius: 16px;
    width: 100%;

}
.anime__container--wrapper{
    display: flex;
}

.anime__title{
    position: absolute;
    color: rgb(231, 231, 231);
}

.img__bg{
    width: 100%;
    background-color: black;
    z-index: 100;
}
