.landing__header{
    display: flex;
    align-items: center;
}
.top__anime{
    height: 400px;
    width: 650px;
    border: 1px solid black;
    border-radius: 24px;
    margin-left: 32px;
}

.landing__image--container{
    margin: 30px auto;
}

.landing__image{
    /* position: absolute; */
    object-fit: cover;
    width:800px;
    min-width: 300px;
    height: 400px;
    border-radius: 24px;
}
.anime__wrapper{
    display: flex;
    
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
li{
    list-style-type: style none;
}