.landing__image--container{

}

.landing__image{
    position: absolute;
    object-fit: cover;
    width: 1200px;
    min-width: 300px;
    height: 400px;
    border-radius: 24px;
    margin: 30px auto;
}